extends layout

block content
  h1= title
  - const image_names = ["image1.png", "image2.png", "image3.png", "image4.png", "image5.png"]
  - for (let i = 0; i < 3; i++)
      - const randomIndex = Math.floor(Math.random() * 5)
      - const imageName = image_names[randomIndex]
      - const imageSize = 300
      img(src=`/images/${imageName}`, alt=`${imageName}`, width=imageSize, height=imageSize)