extends layout

block content
  h1= title
  - let instruments = results;
  div(class="container-fluid")
    div(class="row m-1")
      each instrument in instruments
        - let destination = `dispatch("/instrumentss/update?id=${instrument._id}")`
        - let create = `dispatch("/instrumentss/create")`
        - let detail = `dispatch("/instrumentss/detail?id=${instrument._id}")`
        - let deleted1 = `dispatch("/instrumentss/delete?id=${instrument._id}")`
        h4= instrument.productname
        h3(onclick=`buy(${instrument._id})`) BUY
        p manufacturer : #{instrument.manufacturer}
        p price: $#{instrument.price}
        button.btn( class="btn-primary ml-1", onclick= destination) Update
        button.btn( class="btn-primary ml-1", onclick= create) Create
        button.btn( class="btn-primary ml-1", onclick= detail) Detail
        button.btn( class="btn-primary ml-1", onclick= deleted1) Delete

    script.
      function dispatch(path){
        window.location.href = path;
      }


//- extends layout

//- block content
//-   h1= title
//-   -
//-     const results = [
//-       { name: "Instrument 1", product_type: "piano", price: 399.99 },
//-       { name: "Instrument 2", product_type: "guitar", price: 949.99 },
//-       { name: "Instrument 3", product_type: "harp", price: 699.99 }
//-     ];
//-   .container-fluid
//-   .row
//-     - for (let i = 0; i < results.length; i++)
//-       .col-sm-2
//-         h4= results[i].name
//-         h3(onclick=`buy(${i})`) BUY
//-         p product_type : #{results[i].product_type} 
//-         p price: $#{results[i].price}
//-         - let destination = `/instrument/update?id=${results[i]._id}` // Fix variable name and template string
//-         div(class="col-sm-2", onclick=`buy(${i})`) #{results[i].name}, #{results[i].product_type}, #{results[i].price} // Fix variable name
//-         button.btn(class="btn-primary ml-1", onclick=`dispatch('${destination}')`) Update
//-   script.
//-     function buy(index) {
//-       alert(`You purchased Item ${results[index].name}`);
//-     }
//-     function dispatch(path) {
//-       window.location.href = path;
//-     }




