extends layout

block content
  h1= title
  - let costumeid = toShow._id
  - let name = toShow.name
  - let product_type = toShow.product_type
  - let price = toShow.price

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{costumeid}

  - let actionid = "/resource/instruments/" + costumeid

  form(id='CostumeForm', action=actionid, method="PUT")
    div.form-group
      label.costumeAttr(for='name') Instrument type
      input#name(type='text', name='name', value=name)

    div.form-group
      label.costumeAttr(for='product_type') Instrument size
      input#size(type='text', name='product_type', value=product_type)

    div.form-group
      label.costumeAttr(for='price') Instrument cost
      input#cost(type='number', name='price', value=price)

    input(type="submit")

  script.
    document.forms['CostumeForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      })
      .then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      })
      .then((body) => {
        alert("Update succeeded");
        // TODO handle body
      })
      .catch((error) => {
        // TODO handle error
        alert("Update failed " + error);
      });
    });
